/* Keyframes for rotation animation */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Keyframes for scaling animation */
@keyframes scale {
  100% {
    transform: scale(1.5);
  }
}

/* Keyframes for fading animation */
@keyframes fade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* CSS class for rotation animation */
.rotate {
  animation: rotate 5s infinite linear;
  will-change: transform;
}

/* CSS class for scaling animation */
.scale {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.scale:hover {
  transform: scale(1.1);
}

/* CSS class for fading animation */
.fade {
  animation: fade 2s infinite ease-in-out;
  will-change: opacity;
}

/* Keyframes for bouncing animation with smooth spring effect */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

/* CSS class for bouncing animation */
.bounce {
  animation: bounce 6s infinite;
  will-change: transform;
}
